CompileFlags:
  CompilationDatabase: build-debug
  Compiler: /usr/bin/c++
  Add:
    - -I/usr/include/aarch64-linux-gnu
    - -I/usr/local/cuda/include

Diagnostics:
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      readability-*,
    ]
    Remove: [
      readability-magic-numbers,
      readability-identifier-length,
    ]
